.export {
    display: grid;
    justify-content: center;
    background-color: #8EA1B3;
    width: 15vw;
    height: 15vw;
    padding-top: 10px;
}

#exporthead {
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}

.exportbuttons {
    grid-template-columns: auto auto auto;
    display: flex;
}

#pdf {
    background-color: #F5585E;
    border: #F5585E;
}

#jpeg {
    background-color: #FFC511;
    border: #FFC511;
}

#png {
    background-color: #00984D;
    border: #00984D;
}

#pdf,
#jpeg,
#png {
    margin: 5px;
    border-radius: 5px;
    height: 45%;
    width: 65%;
    font-family: "Lexend Deca";
    color: #00529B;
}

#switchlabel {
    padding-right: 10%;
    color: white;
}

.switchcont {
    height:fit-content;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*Slider*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #21005D;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}