#partheader {
    color: #00529B;
    text-align: center;
    padding-left: 20vw;
}

#advisors {
    color: #F5585E;
}

#board {
    color: #FFC511;
}

#member {
    color: #00984D;
}

#advisors, #board, #member {
    margin-left: 20px;
}

.partcontainer {
    grid-template-columns: auto auto;
    margin-left: 25vw;
    display: grid;
}

#exportcontainer {
    display: flex;
    justify-content: center; /* Horizontal centering */
    height: 100vh;
}

